<br>
<h1>Administrador de productos</h1>

<div *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="add-button">
  <button (click)="enableAdd = !enableAdd" mat-fab color="primary" aria-label="Add button">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="add-form" *ngIf="enableAdd">
  <mat-form-field class="add-form-field">
    <mat-label>Nombre</mat-label>
    <input matInput type="text" [(ngModel)]="product.name">
    <button *ngIf="product.name" matSuffix mat-icon-button aria-label="Clear" (click)="product.name=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="add-form-field">
    <mat-label>Descripción</mat-label>
    <input matInput type="text" [(ngModel)]="product.description">
    <button *ngIf="product.description" matSuffix mat-icon-button aria-label="Clear" (click)="product.description=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="add-form-field">
    <mat-label>Precio (S/)</mat-label>
    <input matInput type="text" [(ngModel)]="product.price">
    <button *ngIf="product.price" matSuffix mat-icon-button aria-label="Clear" (click)="product.price=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="add-form-field">
    <mat-label>Peso (KG)</mat-label>
    <input matInput type="text" [(ngModel)]="product.weight">
    <button *ngIf="product.weight" matSuffix mat-icon-button aria-label="Clear" (click)="product.weight=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <br>

  <h4>Imagen</h4>
  <mat-form-field class="add-form-field">
    <mat-label>URL de imagen</mat-label>
    <input matInput type="text" [(ngModel)]="product.image">
    <button *ngIf="product.image" matSuffix mat-icon-button aria-label="Clear" (click)="product.image=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="image-container">
    <img class="image-preview" onerror="this.src='https://img.freepik.com/premium-vector/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_87543-11093.jpg'" [src]="product.image">
  </div>
  <br>

  <button mat-raised-button (click)="addProduct(); enableAdd=false; clearAllAddFields()" class="add-product-button" color="primary">Añadir producto</button>
</div>

<br>

<div class="mat-elevation-z8">
    <table class="products-table" mat-table [dataSource]="dataSource">
      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          <span *ngIf="!enableEdit || enableEditIndex != i">{{element.id}}</span>
        <mat-form-field class="edit-field" appearance="outline" *ngIf="enableEdit && enableEditIndex == i"><input matInput disabled [(ngModel)]="element.id" />
        </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          <span *ngIf="!enableEdit || enableEditIndex != i">{{element.name}}</span>
        <mat-form-field class="edit-field" appearance="outline" *ngIf="enableEdit && enableEditIndex == i"><input matInput  [(ngModel)]="element.name" />
          <button *ngIf="element.name" matSuffix mat-icon-button aria-label="Clear" (click)="element.name=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          <span *ngIf="!enableEdit || enableEditIndex != i">{{element.description}}</span>
        <mat-form-field class="edit-field" appearance="outline" *ngIf="enableEdit && enableEditIndex == i"><input matInput  [(ngModel)]="element.description" />
          <button *ngIf="element.description" matSuffix mat-icon-button aria-label="Clear" (click)="element.description=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          <span *ngIf="!enableEdit || enableEditIndex != i">S/ {{element.price}}</span>
        <mat-form-field class="edit-field" appearance="outline" *ngIf="enableEdit && enableEditIndex == i"><input matInput  [(ngModel)]="element.price" />
          <button *ngIf="element.price" matSuffix mat-icon-button aria-label="Clear" (click)="element.price=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Peso </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          <span *ngIf="!enableEdit || enableEditIndex != i">{{element.weight}} KG</span>
        <mat-form-field class="edit-field" appearance="outline" *ngIf="enableEdit && enableEditIndex == i"><input matInput  [(ngModel)]="element.weight" />
          <button *ngIf="element.weight" matSuffix mat-icon-button aria-label="Clear" (click)="element.weight=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Foto </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          <br> 
          <img class="product-image" [src]="element.image"> 
        <mat-form-field class="edit-field" appearance="outline" *ngIf="enableEdit && enableEditIndex == i"><input matInput  [(ngModel)]="element.image" />
          <button *ngIf="element.image" matSuffix mat-icon-button aria-label="Clear" (click)="element.image=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="modify">
        <th mat-header-cell *matHeaderCellDef> Modificar </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-button *ngIf="enableEdit && enableEditIndex == i" (click)="enableEdit=false" class="btn page-secondary-action-btn">Cancelar</button>
          <button mat-button *ngIf="enableEdit && enableEditIndex == i" id="saveBtn" class="btn page-primary-action-btn" (click)="updateProduct(i)" type="submit">Guardar</button>
          <button mat-icon-button *ngIf="!enableEdit" (click)="enableEditMethod($event, i)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button *ngIf="!enableEdit" (click)="deleteProduct(element.id)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator class="paginator" [pageSizeOptions]="[8, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <br>
