<br>
<section class="Home">
    <div class="subHome">
        <h1>Encuentra los productos de mejor calidad en Aligranel</h1>
        <p>
            Somos especialistas en arroces, harinas, pastas, legumbres, especias, cereales, semillas, mieles, frutos secos, fruta deshidratada, tés, cafés ecológicos y mucho más. Descubre ahora una alimentación responsable, saludable y sostenible.
        </p>
    </div>
    <div class="containerS">
        <div class="boxS">
            <img src="assets/especias-y-condimentos-1.jpg" alt="">
            <h3>Especias y condimentos</h3>
        </div>
        <div class="boxS">
            <img src="assets/frutos-secos.jpg" alt="">
            <h3>Frutos secos y snacs</h3>
        </div>
        <div class="boxS">
            <img src="assets/granos.jpg" alt="">
            <h3>Granos menestras y semillas</h3>
        </div>
        <div class="boxS">
            <img src="assets/harinas.png" alt="">
            <h3>Harinas</h3>
        </div>
        <div class="boxS">
            <img src="assets/hierbas.jpeg" alt="">
            <h3>Hierbas aromáticas</h3>
        </div>
    </div>
</section>
