<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span (click)="redirectToHome()">Aligranel</span>
    <div class="nav-menu">
        <span class="example-spacer"></span>
        <button (click)="redirectToProducts()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>local_mall</mat-icon>
        </button>
        <button (click)="redirectToAccount()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>
