<mat-toolbar color="primary">
    <span (click)="redirectToHome()" style="cursor: pointer;">Aligranel</span>
    <div class="nav-menu">
        <span class="example-spacer"></span>
        <button (click)="redirectToProducts()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>local_mall</mat-icon>
        </button>
        <button (click)="redirectToAccount()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>credit_card</mat-icon>
        </button>
    </div>
</mat-toolbar>
